*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
/* -----menu------ */
.menu{
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}
.nav{
    max-width: 1280px;
    margin: 0 auto;
}
.nav-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-list{
    padding-left: 30px;
    list-style-type: none;
}
.nav-list .nav-link{
    text-decoration: none;
    padding-right: 32px;
    font-weight: 500;
    color: black;
}
.nav-list .nav-link:hover{
    color: #7E3AF2;
}
.nav-list .nav-link:last-child{
    padding-right: 0px;
}
.nav-right{
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav-right a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.nav-right a:hover{
    color: #7E3AF2;
}
.nav-right button{
    background-color: #7E3AF2;
    color: white;
    padding: 8px 12px;
    border: #7E3AF2;
    border-radius: 5px;
    font-weight: bold;
}
.nav-right button:hover{
    background-color: #6238ab;
}
.nav-bar{
    display: none;
    font-size: 23px;
    border:1px solid gray;
    border-radius: 10px;
    padding: 4px 12px;
    color: black;
}
.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.nav-mobile-close{
    position: fixed;
    top: 5px;
    right: 5px;
    padding-top: 10px;
    border:1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;

}
.nav-mobile-list{
    list-style-type: none;
    padding: 20px 20px;
    font-size: 10px;
    margin-top: 5px;
}
.nav-mobile-button-link{
    background-color: #7E3AF2;
    color: white;
    padding: 10px 10px;
    border: #7E3AF2;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.nav-mobile-link{
    text-decoration: none;
    display: block;
    color: black;
    line-height: 35px;
    font-weight: bold;
}
.nav-over-lay{
    background-color: rgba(132, 132, 132, 0.678);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}
.input-check:checked ~ .nav-over-lay{
    display: block;
}
.input-check:checked ~ .nav-mobile{
    transform: translateX(0);
}
/* ---header---- */
.header-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 50px 10px 10px;
}
.header-container h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
}
.header-container p{
    font-size: 20px;
    text-align: center;
}
.header-trademark{
    padding-top: 50px;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    gap: 20px;
}
/* ------articel---- */
.articel-container{
    max-width: 980px;
    margin: 0 auto;
    padding: 0px 10px;
}
.articel-container-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.articel-container-column-content h2{
    font-size: 38px;
    padding-bottom: 20px;
}
.articel-container-column-content p{
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 50px;
}
.articel-container-column-img img{
    width: 100%;
}
.articel-container-column-content a{
    text-decoration: none;
    font-size: 25px;
    border: 1px solid #7E3AF2;
    color: #7E3AF2;
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 0.5s;
}
.articel-container-column-content a:hover{
    border: 1px solid #ffffff;
    background-color: #7E3AF2;
    color: #ffffff;
}
/* ------feature----- */
.feature-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 10px;
}
.feature-container-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.feature-container-column-item{
    border: 1px solid gainsboro;
    padding: 50px 50px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 3px 2px rgb(243, 243, 243);
}
.feature-container-column-item:hover{
    box-shadow: 0px 0px 5px 4px rgb(243, 243, 243);
}
.feature-container-column-item h3{
    font-size: 30px;
    padding-bottom: 20px;
}
.feature-container-column-item ul{
    list-style-type: none;
}
.feature-container-column-item ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    line-height: 50px;
}
.feature-container-column-item p{
    font-size: 20px;
    padding-bottom: 20px;
}
.feature-container-column-item .lean-more{
    text-decoration: none;
    font-size: 25px;
    color: #7E3AF2;
    font-weight: bold;
}
/* ----main----- */
.main{
    background-color: #7E3AF2;
}
.main-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 10px;
    text-align: center;
}
.main-container h2{
    font-size: 45px;
    color: #ffff;
    padding-bottom: 20px;
}
.main-container p{
    font-size: 25px;
    color: #ffff;
    padding-bottom: 50px;
}
.main-container a{
    text-decoration: none;
    background-color: white;
    color: #7E3AF2;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}
/* ----FOOTER----- */
.footer{
    background-color: white;
}
.footer-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 10px;
}
.footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.footer-nav-column h3{
    font-size: 20px;
    padding: 20px 0px;
}
.footer-nav-list{
    list-style-type: none;
}
.footer-nav-link:hover{
    text-decoration: underline;
}
.footer-nav-link{
    text-decoration: none;
    line-height: 30px;
}
.footer-logo{
    text-align: center;
    padding: 64px 0px;
}
.footer-logo p{
    padding: 20px 0px;
}
.social_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0.5;
}
@media (max-width: 1023px){
    /* ----nav---- */
    .nav-bar{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .nav-right{
        display: none;
    }
    /* ---header---- */
    .header{
        display: none;
    }
    /* ------articel---- */
    .articel-container-column{
        display: block;
    }
    .articel-container-column-content h2{
        text-align: center;
    }
    .articel-container-column-content p{
        text-align: center;
    }
    .articel-container-column-content a{
        display: flex;
        justify-content: center;
        margin: 0px 40px;
    }
    /* ------feature------- */
    .feature-container-column{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        padding: 0px 10px;
    }
    .feature-container-column-item{
        padding: 30px 30px;
    }
    /* ----footer--- */
    .footer-nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px){
    .header-trademark{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 280px){
    .header-trademark{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
    .articel-container-column-content a{
        display: flex;
        justify-content: center;
        margin: 0px 40px;
        font-size: 20px;
    }
}