*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
/* -----menu------ */
.menu{
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}
.nav{
    max-width: 1280px;
    margin: 0 auto;
}
.nav-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-list{
    padding-left: 30px;
    list-style-type: none;
}
.nav-list .nav-link{
    text-decoration: none;
    padding-right: 32px;
    font-weight: 500;
    color: black;
}
.nav-list .nav-link:hover{
    color: #7E3AF2;
}
.nav-list .nav-link:last-child{
    padding-right: 0px;
}
.nav-right{
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav-right a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.nav-right a:hover{
    color: #7E3AF2;
}
.nav-right button{
    background-color: #7E3AF2;
    color: white;
    padding: 8px 12px;
    border: #7E3AF2;
    border-radius: 5px;
    font-weight: bold;
}
.nav-right button:hover{
    background-color: #6238ab;
}
.nav-bar{
    display: none;
    font-size: 23px;
    border:1px solid gray;
    border-radius: 10px;
    padding: 4px 12px;
    color: black;
}
.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.nav-mobile-close{
    position: fixed;
    top: 5px;
    right: 5px;
    padding-top: 10px;
    border:1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;

}
.nav-mobile-list{
    list-style-type: none;
    padding: 20px 20px;
    font-size: 10px;
    margin-top: 5px;
}
.nav-mobile-button-link{
    background-color: #7E3AF2;
    color: white;
    padding: 10px 10px;
    border: #7E3AF2;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.nav-mobile-link{
    text-decoration: none;
    display: block;
    color: black;
    line-height: 35px;
    font-weight: bold;
}
.nav-over-lay{
    background-color: rgba(132, 132, 132, 0.678);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}
.input-check:checked ~ .nav-over-lay{
    display: block;
}
.input-check:checked ~ .nav-mobile{
    transform: translateX(0);
}
/* ------header------ */
.header{
    background-color: white;
    margin-top: 65px;
    padding: 0px 5px;
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.header-content-right{
    margin-top: 100px;
}
.header-content-right-title{
    padding-bottom: 20px;
}
.header-content-right-title h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
}
.header-content-right-support p{
    font-size: 20px;
}
.header-content-right-support{
    padding-bottom: 20px;
    line-height: 30px;
}
.header-content-right-button{
    display: flex;
    gap: 10px;
}
.header-content-right-button .button-right{
    background-color: #7E3AF2;
    color: white;
    padding: 12px 20px;
    border: 1px solid #7E3AF2;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.4s ease-in;
    cursor: pointer;
}
.header-content-right-button .button-left:hover{
    background-color: #000000;
    color: white;
}
.header-content-right-button .button-right:hover{
    background-color: white;
    color: #7E3AF2;
}
.header-content-right-button .button-left{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.4s ease-in;
    cursor: pointer;
}
.header-content-left img{
    width: 100%;
}
.header-trademark{
    padding-top: 50px;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
/* -------articel-------- */
.articel{
    background-color: #F9FAFB;
}
.articel-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 10px;
}
.articel-content-colum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.articel-content-colum-left{
    margin-top: 20px;
}
.articel-content-colum-left-top{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}
.articel-content-colum-left-top h2{
    font-size: 36px;
    padding-bottom: 20px;
}
.articel-content-colum-left-top p{
    font-size: 20px;
    line-height: 30px;
}
.articel-content-colum-left-bottom{
    padding-top: 20px;
}
.articel-content-colum-left-bottom p{
    padding-top: 30px;
}
.articel-content-colum-left-bottom-first{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 30px;
}
.articel-content-colum-right img{
    width: 100%;
}
/* ----social----- */
.social{
    background-color: white;
}
.social-content{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: 50px 10px;
}
.social-content-right-top{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
.social-content-right-top span{
    color:  #7E3AF2;
    font-size: 15px;
    font-weight: 700;
}
.social-content-right-top h3{
    font-size: 32px;
    padding: 20px 0px;
}
.social-content-right-top p{
    font-size: 20px;
}
.social-content-right-bottom{
    padding-top: 10px;
}
.social-content-right-bottom-link{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}
.social-content-right-bottom-link p{
    font-size: 14px;
}
.social-content-right-bottom-link i{
    color: #7E3AF2;
}
.social-content-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}
.social-content-left-list{
    max-width: 200px;
}
.social-content-left-list svg{
    width: 30px;
    height: 30px;
}
/* ------testimonials----- */
.testimonials{
    background-color: #F9FAFB;
}
.testimonials-content{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
}
.testimonials-content p{
    max-width: 700px;
    margin: 0 auto;
}
.person{
    display: flex;
    max-width: 270px;
    gap: 2px;
    margin: 0 auto;
    padding-top: 30px;
}
/* ----pricing---- */
.pricing{
    background-color: white;
}
.pricing-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 10px;
}
.pricing-header{
    text-align: center;
}
.pricing-header p{
    max-width: 700px;
    margin: 0 auto;
}
.pricing-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    grid-gap: 40px;
}
.pricing-plan{
    text-align: center;
    border: 1px solid gainsboro;
    padding: 20px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
}
.pricing-plan h3{
    padding: 20px 0px;
}
.price h4{
    font-size: 48px;
    font-weight: bold;
}
.price p{
    padding-top: 20px;
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px 0px;
}
.pricing-item{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 50px;
}
.pricing-button{
    background-color: #7E3AF2;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}
.pricing-button:hover{
    background-color: #6238ab;
}
.pricing-button a{
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    font-weight: bold;
}
/* -----CTA----- */
.CTA{
    background-color: #F9FAFB;
}
.CTA-container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
}
.CTA-container h2{
    font-size: 36px;
    padding-bottom: 30px;
}
.CTA-container p{
    font-size: 20px;
    padding-bottom: 30px;
}
.CTA-container a{
    text-decoration: none;
    background-color: #7E3AF2;
    color: white;
    padding: 12px 20px;
    border: 1px solid #7E3AF2;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.2s ease-in;
}
.CTA-container a:hover{
    background-color: #6238ab;
}
/* ----FOOTER----- */
.footer{
    background-color: white;
}
.footer-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 10px;
}
.footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.footer-nav-column h3{
    font-size: 20px;
    padding: 20px 0px;
}
.footer-nav-list{
    list-style-type: none;
}
.footer-nav-link:hover{
    text-decoration: underline;
}
.footer-nav-link{
    text-decoration: none;
    line-height: 30px;
}
.footer-logo{
    text-align: center;
    padding: 64px 0px;
}
.footer-logo p{
    padding: 20px 0px;
}
.social_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0.5;
}
@media (max-width: 1023px){
    /* ----nav---- */
    .nav-bar{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .nav-right{
        display: none;
    }
    /* -----header---- */
    .header{
        margin-top: 0px;
    }
    .header-content{
        max-width: 1280px;
        margin: 0 auto;
        grid-gap: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-content-right-title{
        text-align: center;
    }
    .header-content-right-title h1{
        font-size: 40px;
    }
    .header-content-right-support p{
        text-align: center;
        font-family: 15px;
    }
    .header-content-left{
        display: none;
    } 
    .header-content-right-button{
        justify-content: center;
    }  
    .header-content-right-button{
        display: block;
        gap: 10px;
        text-align: center;
    }
    .header-trademark{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header-trademark img{
        margin: auto;
    }
    /* -----articel----- */
    .articel-content{
        padding: 20px 10px;
    }
    .articel-content-colum{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .articel-content-colum-left-top h2{
        text-align: center;
    }
    .articel-content-colum-left-top p{
        text-align: center;
    }
    /* ----social---- */
    .social-content{
        max-width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .social-content-left{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 20px;
        text-align: center;
        margin: 0 auto;
    }
    .social-content-right-top{
        text-align: center;
    }
    .social-content-right-bottom{
        display: none;
    }
    /* ---pricing--- */
    .pricing-plan{
        text-align: center;
        border: 1px solid gainsboro;
        padding: 25px;
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
    }
    .pricing-cards{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 50px;
        grid-gap: 40px;
    }
    /* -------footer------ */
    .footer-nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px){
    .header-trademark{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 280px){
    .header-trademark{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}